/*===== GOOGLE FONTS =====*/
  @import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');


/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body{
    font-family: 'Comic Neue', cursive;
  }
  

/*==================== LAYOUT ====================*/

.header {
    height: 320px;
    background-image: url(../img/design1_image1.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
  }

h1{
  font-size: 70px;
  color: #ffffff;
  margin-left: 10px;
  padding-top: 10px;
}

 .logo{
    cursor: pointer;
  }

 .logo-img{
    height: 165px;
    margin-left: 975px;
    margin-top: 175px;
    background-color: #fff;
    border: 1px solid black;
  }

/*==================== MAIN ====================*/
/*==================== NAV ====================*/
.events{
  background-color: black;
}

.subtitle{
  text-decoration: none;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 25px;   
}

.container{
   display: flex;
 }

.links{
    display: block;
    line-height: 80px;
    margin: 0 5px;
}

.link{
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 7px 13px;
  }

.date{
  padding-left: 130px;
  padding-top: 25px;
  font-size: 25px;
  font-weight: 15px;
  font-style: italic ;
}

p{
  font-style: normal;
  padding-left: 30px;
}