/*===== GOOGLE FONTS =====*/
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');


/*==================== BASE ====================*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  html {
    scroll-behavior: smooth;
  }

  body{
    font-family: 'Comic Neue', cursive;
  }
  

/*==================== LAYOUT ====================*/

.header {
    width: 100%;
    height: fit-content; 
  }

.container{
    margin-top: 100px;
    padding-top: 50px;
    background-image: url(../img/design1_image1.jpg);
    background-size: cover;
    height: 450px;
  }

.title{
  font-size: 60px;
  color: #141414;
  margin-top: -150px;
 
}

/*==================== LOGO ====================*/

.logo{
    cursor: pointer;
  }

 .logo-img{
  height: 165px;
  margin-top: 557px;
  margin-left: 40px; 
  }

/*==================== MAIN ====================*/

.subtitle{
  text-decoration: none;
  background-color: black;
  color: #fff;
  padding: 10px;
  text-align: center;
  font-size: 25px;   
}

/*==================== NAV ====================*/
.navbar-nav{
  list-style: none;
  margin-top: -705px;
  margin-left: 873px;
}
.item{
  display:inline;
  padding-left: 28px;
}
.nav-link{
  background-color: rgb(83, 161, 83);
  color: #fff;
  text-decoration: none;
  padding: 20px;
  }

  .nav-link:hover{
    background-color: rgb(64, 43, 250);
    }

.date{
  padding-left: 400px;
  font-size: 25px;
  font-weight: 15px;
  font-style: italic ;
  margin-bottom: 10px;
  margin-top: 43px;
}

.date > p{
  font-style: normal;
  padding-left: 30px;
}

.hockey{
  height:500px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 100px;
  margin-left: 200px;

}

/*==================== PAGE ABOUTMDHL ====================*/
.subtitle--about{
  text-decoration: none;
    color: black;
    padding-top: 26px;
    text-align: left;
    font-size: 25px;
    margin-left: 240px;
    margin-top: 33px;
}

 .paragraph{
  font-style: normal;
  padding-left: 240px;
  padding-right: 204px;
}

/*==================== PAGE CONTACT ====================*/

.email{
  text-decoration: none;
  color: black;
  padding-top: 60px;
  padding-bottom: 20px;
  font-size: 20px;
  margin-left: 240px;
  margin-top: 33px;
}

.email > h4{
  padding-top: 25px;
}

